@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme Colors */
.theme-dark {
  --color-primary: 40 44 52;
  --color-secondary: 60 64 72;
  --color-accent: 97 218 251;
  --color-background: 28 31 38;
  --color-opposite: 255 255 255;
  --color-opposite-secondary: 176 176 176;
  --color-success: 52 199 89;
  --color-error: 255 59 48;
  --color-warning: 255 204 0;
  --color-info: 0 122 255;
  --color-light-gray: 160 160 160;
  --color-dark-gray: 42 46 53;
}

/* Light Theme Colors */
.theme-light {
  --color-primary: 245 245 245;
  --color-secondary: 220 220 220;
  --color-accent: 0 122 255;
  --color-background: 255 255 255;
  --color-opposite: 0 0 0;
  --color-opposite-secondary: 79 79 79;
  --color-success: 52 199 89;
  --color-error: 255 59 48;
  --color-warning: 255 204 0;
  --color-info: 0 122 255;
  --color-light-gray: 211 211 211;
  --color-dark-gray: 169 169 169;
}
