@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme Colors */
.theme-dark {
  --color-primary: 40 44 52;
  --color-secondary: 60 64 72;
  --color-accent: 97 218 251;
  --color-background: 28 31 38;
  --color-opposite: 255 255 255;
  --color-opposite-secondary: 176 176 176;
  --color-success: 52 199 89;
  --color-error: 255 59 48;
  --color-warning: 255 204 0;
  --color-info: 0 122 255;
  --color-light-gray: 160 160 160;
  --color-dark-gray: 42 46 53;
}

/* Light Theme Colors */
.theme-light {
  --color-primary: 240 248 255; /* Light cyan, very soft and airy */
  --color-secondary: 224 238 242; /* Pale cyan-gray, light and calm */
  --color-accent: 0 172 193; /* Vibrant cyan, for contrast and highlights */
  --color-background: 245 255 255; /* Very light cyan, almost white */
  --color-opposite: 38 50 56; /* Dark cyan-gray, cool and strong */
  --color-opposite-secondary: 85 110 115; /* Medium cyan-gray */
  --color-success: 112 219 205; /* Soft mint green, complements the cyan tones */
  --color-error: 229 92 79; /* Muted coral red, for alerts */
  --color-warning: 255 204 77; /* Warm sandy yellow, for contrast */
  --color-info: 0 172 193; /* Same as accent for consistency */
  --color-light-gray: 211 224 230; /* Light cool gray, blends with cyan tones */
  --color-dark-gray: 125 145 150; /* Medium cool gray */
  --color-light-cyan: 202 245 255; /* Fresh light cyan, adds vibrancy */
  --color-dark-cyan: 0 139 153; /* Deep cyan, cool and strong */
}
